.reviews__div-box {
    display: flex;
    flex-direction: column;
    align-items: center;

}


.write-review-button {
    padding-bottom: 50px;
}

.reviews {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 2400px;
    padding-top: 10px;
}

.reviews__user-box {
    display: flex;
    flex-direction: column;
    width: 800px;
    background-color: firebrick;
    color: white;
    border-radius: 80px;
    padding-top: 30px;
}

.user__review-box {
    padding: 20px;
}

.reviews-header{
    color: firebrick;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: dashed;
    width: 400px;
}

.review__delete-button {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.remove-review-button {
    background-color: #FFE2AD;
    font-size: 24px;
    color: firebrick;
    border-radius: 80px;
}

.home-button {
    padding-top: 25px;
}

.write-review-button {
    padding-top: 25px;
}
