
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: firebrick;
    height: 100px;
    width: 100%;
    border-bottom: 4px solid black;
    overflow: hidden;
    position: fixed;
}

.nav-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}

.nav-image-container:hover {
    box-shadow: 0 0 30px 10px;
}


.nav-header {
    color: white;
    font-size: 36px;
    font-weight: bolder;
    font-weight: bolder;
    text-decoration: none;
}


.write-review-nav {
    color: white;
    font-size: 36px;
    font-weight: bolder;
    text-decoration: none;
}

.reviews-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.top-review-navigation-button {
    background-color: firebrick;
    color: white;
    border-radius: 60px;
    height: 50px;
    width: 300px;
    box-shadow: 0 0 10px 1px;
    font-size: 24px;
    margin-top: 20px;
}

.top-review-navigation-button:hover {
    color: white;
    background-color: #ea1d1d;
}

.review-navigation-button {
    background-color: firebrick;
    color: white;
    border-radius: 60px;
    height: 75px;
    width: 400px;
    box-shadow: 0 0 10px 1px;
    font-size: 36px;
    margin-top: 30px;
}

.review-navigation-button:hover {
    color: white;
    background-color: #ea1d1d;
}

.reviews-header{
    color: firebrick;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: dashed;
    width: 400px;
    margin-top: 20px;
}

.review-container {
    display: flex;
    flex-direction: column;
    width: 800px;
    background-color: firebrick;
    color: white;
    border-radius: 80px;
    padding: 30px 30px 0px 30px;
    margin-top: 40px;
    box-shadow: 0 0 10px 1px;
}

.user-review {
    font-size: 24px;
    font-weight: bolder;
}


.user-firstname-review {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bolder;
}


.review-delete-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.remove-review-button {
    background-color: #FFE2AD;
    font-size: 24px;
    color: firebrick;
    border-radius: 80px;
}

.remove-review-button:hover {
    cursor: pointer;
    background-color: #ffe8bd;
    font-size: 24px;
    color: firebrick;
    transform: translateY(-2px);
}


