.reviews__div-box {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.write-review-button {
    padding-bottom: 50px;
}

.reviews {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}

.reviews__user-box {
    display: flex;
    flex-direction: column;
    width: 800px;
    background-color: firebrick;
    color: white;
    border-radius: 80px;
    padding-top: 30px;
}

.reviews__user-box > button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews-header{
    color: firebrick;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: dashed;
    width: 400px;
}
