.menu__div-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-header {
    color: firebrick;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    border-style: dashed;
}

.menu-entrees-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 1000px;
    height: 550px;
    padding-top: 30px;
}

.menu__entree-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    background-color: firebrick;
    width: 300px;
    height: 100px;
    border-radius: 60px;
    box-shadow: 0 0 10px 1px;
    border-color: 3px white;
}

.menu-navigation-button {
    background-color: firebrick;
    color: white;
    border-radius: 60px;
    height: 75px;
    width: 400px;
    box-shadow: 0 0 10px 1px;
    font-size: 36px;
}

.menu-navigation-button:hover {
    color: white;
    background-color: #ea1d1d;
}

.logo-div {
    display: flex;
    justify-content: center;
    height: 50px;
}

.homepage-logo {
    display: flex;
    height: 50px;
    width: 350px;
}
