

.previous-orders-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.previous-orders-header {
    padding-top: 30px;
}


.previous-order-id {
    text-align: center;
}

.previous-order-entree {
    text-align: left;
}

.previous-order-entree-price {
    text-align: center;
}

.previous-orders-multiplier {
    text-align: center;
}

.previous-entree-quantity {
    text-align: center;
}

.previous-entree-subtotal {
    text-align: right;
}

.previous-order-footer {
    text-align: right;
}

tfoot {
    border: 1px solid black;
}

#previous-orders-footer-return {
    padding-top: 50px;
}
