.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: firebrick;
    height: 100px;
    width: 100%;
    border-bottom: 4px solid black;
    overflow: hidden;
    position: fixed;
}

.place-order-nav {
    color: white;
    text-decoration: none;
    font-size: 36px;
    font-weight: bolder;
}

.nav-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}

.nav-image-container:hover {
    box-shadow: 0 0 30px 10px;
}

.nav-header {
    color: white;
    font-size: 36px;
    font-weight: bolder;
    text-decoration: none;
}

.previous-orders-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.user-previous-order-table {
    margin-top: 140px;
}

.previous-orders-tables {
    font-size: 24px;
    border-collapse: collapse;
}

.previous-order-table-body {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.previous-headers {
    border: 2px solid black;
}

.previous-order-id {
    text-align: center;
    border: 2px solid black;
}

#entree-name {
    width: 220px;
}

.previous-order-entree {
    text-align: left;
}

.previous-order-entree-price {
    text-align: center;
}

.previous-orders-multiplier {
    text-align: center;
}

.previous-entree-quantity {
    text-align: center;
}

.previous-entree-subtotal {
    text-align: right;
}

.previous-entree-subtotal {
    border-left: 2px solid black;
}

.previous-footers {
    border-top: 2px solid black;
}

.no-left-border-order-total-line {
    border-left: none;
}

.previous-order-totals {
    text-align: right;
    border-style: double;
}

.previous-order-dates {
    text-align: right;

}

/* tfoot {
    border: 1px solid black;
} */


.border-bottom-none {
    border-bottom: none;
}

#previous-orders-footer-return {
    margin-bottom: 20px;
}
