.write-review-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.write-review-header-container {
    display: flex;
    justify-content: center;
    color: firebrick;
    border-style: dashed;
    width: 400px;
    margin-top: 20px;
}

.write-review-header {
    color: firebrick;
}

.review-errs-container {
    width: 575px;
}

.review-errs {
    font-size: 24px;
}

.write-review-text-area {
    padding-top: 20px;
}

textarea {
    font-size: 24px;
    height: 500px;
    border-radius: 80px;
    padding: 35px;
    border-color: firebrick;
    border-width: 3px;
    resize: none;
    box-shadow: 0 0 10px 1px;
}

.write-review-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-char-count {
    margin-top: 20px;
    font-size: 24px;
}


.write-review-submit {
    background-color: firebrick;
    color: white;
    border-radius: 60px;
    height: 75px;
    width: 400px;
    box-shadow: 0 0 10px 1px;
    font-size: 36px;
    margin-top: 30px;
}

.write-review-submit:hover {
    color: white;
    background-color: #ea1d1d;
}

.write-review-navigation-button {
    background-color: firebrick;
    color: white;
    border-radius: 60px;
    height: 75px;
    width: 400px;
    box-shadow: 0 0 10px 1px;
    font-size: 36px;
    margin-top: 30px;
}

.write-review-navigation-button:hover {
    color: white;
    background-color: #ea1d1d;
}

