.navigation-container {
    height: 600px;
    width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.navigation-button {
    background-color: firebrick;
    color: white;
}


