/* TODO Add site wide styles */

body {
    margin: 0px;
    background-color: #FFE2AD;
}

.homepage-logo {
    display: flex;
}


.navigation-button {
    background-color: firebrick;
    color: white;
    border-radius: 60px;
    height: 75px;
    width: 400px;
    box-shadow: 0 0 10px 1px;
    font-size: 36px;
    margin-top: 50px;
}

.navigation-button:hover {
    color: white;
    background-color: #ea1d1d;
}
