


.form-container {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.login-form {
    font-family: "Roboto", sans-serif;
    font-family: 24px;
    color: white;
    background-color: firebrick;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: flex-end; */
    border-radius: 10px;
    box-shadow: 0 0 10px 1px;
    height: 600px;

}




.errs {
    color: white;
}

label {
    padding-right: 50px;
}

input {
    border-radius: 10px;
}

.return-home-button {
    display: flex;
    justify-content: center;
    /* box-shadow: 0 0 10px 3px; */
}
