

.signup-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.form-container {
    display: flex;

}

.form-container {
    display: flex;
    /* justify-content: space-between; */
}

.logo-div {
    height: 250px;
    display: flex;
    justify-content: center;
    /* background-color: rgb(205, 50, 187); */
}

.homepage-logo {

    display: flex;
    height: 250px;
    width: 350px;

}

.signup-form {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    color: white;
    background-color: firebrick;

    /* margin: 100px auto; */
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;

    box-shadow: 0 0 10px 1px;
    width: 555px;
}

.input-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* justify-content: space-evenly; */
}

.submit-button-form-div {
    padding-top: 50px;
}

.signup-form-submit-button {
    font-family: "Roboto", sans-serif;
    background-color: #FFE2AD;
    font-size: 24px;
    color: firebrick;
    border-radius: 80px;
    width: 200px;
    height: 55px;
    box-shadow: 0 0 10px 1px;
}

.errs {
    color: white;
}

input {
    height: 24px;
    margin: 10px;
    /* padding-left: 35px; */
    border: none;
    outline: none;
}

label {
    margin-top: 10px;
    border: none;
    outline: none;
}







/* background: linear-gradient( rgb(236, 224, 224) 0.5%,  rgb(212, 190, 194) 99.5%); */
