
.logo-div {
    height: 210px;
    display: flex;
    justify-content: center;

}

.homepage-logo {

    /* margin-left: auto; */
    display: flex;
    height: 200px;
    width: 350px;
    /* justify-content: center; */
}
