.user-navigation-container {
    height: 600px;
    width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.splash-navigation-container {
    height: 250px;
    width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.navigation-button {
    background-color: firebrick;
    color: white;
    border-radius: 60px;
    height: 50px;
    width: 300px;
    box-shadow: 0 0 10px 1px;
    font-size: 24px;
}

.logo-div {
    height: 210px;
    display: flex;
    justify-content: center;

}

.homepage-logo {

    /* margin-left: auto; */
    display: flex;
    height: 200px;
    width: 350px;
    /* justify-content: center; */
}
